---
import Layout from '@layouts/Layout.astro';
import { appSettings } from '@root/consts';

const title = 'About ' + appSettings.company;
---

<Layout
  title={title}
  description={title}
  activeMenu="None"
>
  <div class="jumbotron">
    <div class="container">
      <h1>{title}</h1>
      <p class="lead">{appSettings.company} is a one-man indie game studio.</p>
    </div>
  </div>
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-12">
        <h1><i class="bi bi-people-fill"></i> Staff</h1>

        <div class="site-box">
          <h2>Gordon Glas</h2>
          <div class="row">
            <div class="col-sm-12 col-lg-7 site-margin">
              <img class="img-fluid rounded" width="500" height="375"
                  loading="lazy" src="/img/staff/gordonglas.jpg" alt="Gordon Glas">
            </div>
            <div class="col-sm-12 col-lg-5">
              <div class="site-margin">
                <i class="bi bi-gear-fill"></i> Designer<br />
                <i class="bi bi-bug-fill"></i> Programmer<br />
                <i class="bi bi-music-note-beamed"></i> Composer<br />
                <i class="bi bi-card-image"></i> Artist<br />
                <i class="bi bi-hdd-stack-fill"></i> Server admin<br />
                <i class="bi bi-cloud-fill"></i> Webmaster<br />
                <i class="bi bi-bank"></i> Founder<br />
                <i class="bi bi-cup-hot-fill"></i> Maker of coffee<br />
                <i class="bi bi-trash-fill"></i> Janitorial
              </div>

              <table class="table table-condensed">
                <tbody>
                  <tr>
                    <td><i class="bi bi-envelope-fill"></i> Email:</td>
                    <td><a href="mailto:gglas@overworldsoft.com">gglas@overworldsoft.com</a></td>
                  </tr>
                  <tr>
                    <td><i class="bi bi-mastodon"></i> Mastodon:</td>
                    <td><a href="https://mastodon.gamedev.place/@kefka">@kefka@mastodon.gamedev.place</a></td>
                  </tr>
                  <tr>
                    <td><i class="bi bi-twitter"></i> Twitter:</td>
                    <td><a href="https://twitter.com/alphatrak">@alphatrak</a></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><a href="https://twitter.com/overworldsoft">@overworldsoft</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
