---
import Layout from '@layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@root/consts';
---

<!doctype html>
<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  activeMenu="Home"
>
  <div class="jumbotron">
    <div class="container">
      <h1>{SITE_TITLE}</h1>
      <p class="col-md-8 fs-4">An indie game studio working on a game engine.</p>
    </div>
  </div>
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-4">
        <h3>Current game projects</h3>
        <p>Development is underway on our game engine. Written primarily for Windows, but with cross-platform in mind.</p>
        <p>Be sure to follow our <a href="/news/">news</a> for more details.</p>
        <p><a class="btn btn-outline-secondary" href="/news/"><i class="bi bi-newspaper"></i> News &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>XBLIG Companion</h3>
        <p><a href="/xblig-companion/">XBLIG Companion</a> is an app for Android that allows you to browse the XBox Live Indie Games for XBox 360 on your Android device.</p>
        <p>While support has ended, you can still download the app as an APK file and give it a try.</p>
        <p><a class="btn btn-outline-secondary" href="/xblig-companion/"><i class="bi bi-android"></i> XBLIG Companion &raquo;</a></p>
      </div>
    </div>
  </div>
</Layout>
