---
import { appSettings } from '@root/consts';

const today = new Date();
---

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/rss.xml" title="Subscribe via RSS"><i class="bi bi-rss-fill"></i> RSS</a></li>
          <li class="list-inline-item"><a href="/contact/"><i class="bi bi-file-person-fill"></i> Contact</a></li>
          <li class="list-inline-item"><a href="/about/"><i class="bi bi-info-circle-fill"></i> About</a></li>
          <li class="list-inline-item"><a href="/press/"><i class="bi bi-newspaper"></i> Press</a></li>
        </ul>
        <p>&copy; {today.getFullYear()} {appSettings.company}</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <a href="https://twitter.com/overworldsoft" style="margin-right:10px"><i class="bi bi-twitter social-icon" style="font-size:50px;"></i></a>
        <a href="https://facebook.com/overworldsoft"><i class="bi bi-facebook social-icon" style="font-size:46px;"></i></a>
      </div>
    </div>
  </div>
</footer>
